@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url(https://images.unsplash.com/photo-1474433188271-d3f339f41911?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
  background-position: center;
  background-size: cover;
}

h1 {
  color: whitesmoke;
  padding: 20px;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
}

h1:hover{
  background-color: rgba(0,0,0, 0.85);
}

/* Boomarks */
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item{
	background: rgba(0,0,0,0.5);
	color: whitesmoke;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
}
.item:hover{
	background-color: rgba(0,0,0,0.6);
}

a {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

a:link,
a:visited{
	color: whitesmoke;
	text-decoration: none;
}

a:hover,
a:active{
	text-decoration: underline;
}

.fa-times-circle{
	float: right;
	cursor: pointer;
	z-index: 2;;
	position: relative;
}

.name{
	margin-top: 20px;
	margin-right: 20px;
}

.name img{
	height: 20px;
	width: 20px;
	vertical-align: sub;
	margin-right: 5px;
	display: inline;
}

/* Modal */
.modal-container{
	background-color: rgba(0,0,0,0.6);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.show-modal{
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal{
	background-color: whitesmoke;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	max-width: 95%;
	width: 500px;
	animation: modalopen 1.5s;
}

@keyframes modalopen{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.close-icon{
	float: right;
	color: whitesmoke;
	font-size: 24px;
	position: relative;
	top: 13px;
	right: 13px;
	cursor: pointer;
}

.modal-header{
	background: #000;
	color: white;
	padding: 15px;
}

h3{
	margin: 0;
}

.modal-content{
	padding: 20px;
	background: whitesmoke;
}

/* Form */

.form-group{
	height: 100px;
}

.form-input{
	width: 97%;
	padding: 5px;
	border: 2px solid #000;
	border-radius: 5px;
	display: block;
	outline: none;
}

.form-label{
	color: #000;
	margin-bottom: 10px;
	display: block;
}

button {
	cursor: pointer;
	color: whitesmoke;
	background: #000;
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}

button:hover{
	filter: brightness(110%);
}

button:focus{
	outline: none;
}

/* Media Query: Large smartphone */
@media screen and (max-width: 767px){
	.container{
		flex-direction: column;
		width: 100%;
	}
	.name{
		margin-top: 0px;
	}
}